<div class="content-wrapper">
	<header>
		<div>
			<h1>All Payables</h1>
		</div>
	</header>
	<div class="table-form-container">
		<div class="table-filter">
			Filter:
			<%= link_to 'All', payables_path %> | 
			<%= link_to 'Paid', payables_path(:filter => "paid") %> | 
			<%= link_to 'UnPaid', payables_path(:filter => "unpaid") %>
		</div>
		<table>
			<thead>
				<tr>
					<th>Pay to</th><th>Amount</th><th>Paid</th><th>Paid Date</th>
					<th>Purchase Date</th><th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if @payables %>
					<% @payables.each do |payable| %>
	  				<tr> 
	  					<td><%= payable.seller.name %></td>
	  					<td><%= payable.amount %></td>
	  					<td><%= payable.paid %></td>
	  					<td>
	  						<% if payable.paid %>
	  							<%= payable.paid_at.strftime("%m/%d/%y") %>
	  						<% else %>
	  							-
	  						<% end %>
	  					</td>
	  					<td><%= payable.created_at.strftime("%m/%d/%y") %></td>
	  					<td>
	  						<div class="actions-column">
		  						<%= link_to "Pay now", payable_paid_path(payable.id), method: "PUT", class: 'link-view' %>

		  						<%= link_to "payables/#{payable.id}", data: {:confirm => 'Are you sure?'}, method: :delete do%>
		  							<i class="fa fa-trash"></i>
		  						<% end %>
		  					</div>
	  					</td>
	  				</tr>
					<% end %>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>