<%= form_with model: @inventory_item do |f| %>
	<label for="name">Name</label>
	<%= f.text_field :name %>
	<%= f.hidden_field :quantity, id: "item-quantity" %>
  <label for="price_per_lbs">Price(per lbs)</label>
  <%= f.number_field :price_per_lbs, :id => "item-price" %>
  <div class="price-box">Calculated Total Price: 
  	<span id="item-total-price"></span>
  </div>
  <div class="centered">
	  <% if @inventory_item.id.present? %>
	  	<%= f.submit 'Update'%>
	  <% else %>
	  	<%= f.submit 'Create'%>
	  <% end %>
	  <%= link_to "Cancel", inventory_items_path, :class => "form-cancel-btn" %>
  </div>
<% end %>


