<%= form_with url: "/inventory_items/#{@inventory_item.id}/purchase_recipts" do |f| %>
	<h3>Seller Details</h3>
	<div id="seller-selector">
		<label for="seller">Select Seller</label>
		<div>
			<%= f.collection_select :seller_id, Seller.order(:name), :id, :name, include_blank: true %>
			<span id="show-seller-form" class="link-view">or create new seller</span>
		</div>
	</div>
	<div id="hidden-seller-form" class="hide-content">
		<%= f.fields_for :seller do |s| %>
			<label for="name">Name</label>
			<%= s.text_field :name %>
			<label for="email">Email</label>
			<%= s.text_field :email %>
			<label for="country">Country</label>
			<%= s.text_field :country %>
			<label for="phone">Phone</label>
			<%= s.text_field :phone %>
		<% end %>
		<div id="show-seller-selecter" class="link-view centered">
			select from existing seller
		</div>
	</div>
<h3>Purchase Details</h3>
	<%= f.hidden_field :name, :value => @inventory_item.name %>


  <label for="quantity">Size of Bag(40)</label>
  <label for="name">Quantity</label>
  <input type="number" id="total_bag_40" ><br>
  <label for="quantity">Size of Bag(20)</label>
  <label for="name">Quantity</label>
  <input type="number" id="total_bag_20" disabled><br>
  <label for="quantity">Size of Bag(10)</label>
  <label for="name">Quantity</label>
  <input type="number" id="total_bag_10" disabled><br>
  <label for="quantity">Size of Bag(2)</label>
  <label for="name">Quantity</label>
  <input type="number" id="total_bag_2" disabled><br>
  <label for="quantity">Size of Bag(1)</label>
  <label for="name">Quantity</label>
  <input type="number" id="total_bag_1" disabled><br>

  <label for="quantity">Quantity(in lbs)</label>
  <div class="disabledbutton">
  <%= f.number_field :quantity, :id => "item-quantity"%>
	</div>

  <label for="price_per_lbs">Price(per lbs)</label>
  <%= f.number_field :price_per_lbs, :id => "item-price" %>
  <%= f.hidden_field :bag_array, id: "bag_array" %>
  <div class="price-box">Total Price: 
  	<span id="item-total-price"></span>
  </div>
  <div class="centered">
 		<%= f.submit 'Purchase'%>
 	<%= link_to "Cancel", inventory_items_path, :class => "form-cancel-btn" %>
 	</div>
<% end %>
<style type="text/css">
	#quantity {
		width: 10%;
	}
	#total_bag{
		width: 30%;
	}
	.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
</style>

<script type="text/javascript">
	var array = []
	

	$("#total_bag_40").focusout(function(){
		var total = 0
		var array_push = false

		if ($("#total_bag_40").val() == "")
		{
			$("#total_bag_40").val(0);
		}
		for( var i = 0; i < array.length; i++)
		{
			if (array[i][0] == 40)
			{
				array[i][1] = parseInt($("#total_bag_40").val())
				array_push = true
			}
		}
		if (array_push == false)
		{
			array.push([40,parseInt($("#total_bag_40").val())])
		}
		for( var i = 0; i < array.length; i++)
		{
			total += array[i][0] * array[i][1]
		}
		$("#bag_array").val(JSON.stringify(array));
  	$("#item-quantity").val(total);
  	$("#total_bag_20").prop('disabled', false);
	});

	$("#total_bag_20").focusout(function(){
		var array_push = false
		var total = 0
		if ($("#total_bag_20").val() == "")
		{
			$("#total_bag_20").val(0);
		}
		for( var i = 0; i < array.length; i++)
		{
			if (array[i][0] == 20)
			{
				array[i][1] = parseInt($("#total_bag_20").val())
				array_push = true
			}
		}
		if (array_push == false)
		{
			array.push([20,parseInt($("#total_bag_20").val())])
		}
		for( var i = 0; i < array.length; i++)
		{
			total += array[i][0] * array[i][1]
		}
		$("#bag_array").val(JSON.stringify(array))
  	$("#item-quantity").val(total)
  	$("#total_bag_10").prop('disabled', false);
	});

	$("#total_bag_10").focusout(function(){
		var array_push = false
		var total = 0
		if ($("#total_bag_10").val() == "")
		{
			$("#total_bag_10").val(0);
		}
		for( var i = 0; i < array.length; i++)
		{
			if (array[i][0] == 10)
			{
				array[i][1] = parseInt($("#total_bag_10").val())
				array_push = true
			}
		}
		if (array_push == false)
		{
			array.push([10,parseInt($("#total_bag_10").val())])
		}
		for( var i = 0; i < array.length; i++)
		{
			total += array[i][0] * array[i][1]
		}
		$("#bag_array").val(JSON.stringify(array))
  	$("#item-quantity").val(total)
  	$("#total_bag_2").prop('disabled', false);
	});

	$("#total_bag_2").focusout(function(){
		var array_push = false
		var total = 0
		if ($("#total_bag_2").val() == "")
		{
			$("#total_bag_2").val(0);
		}
		for( var i = 0; i < array.length; i++)
		{
			if (array[i][0] == 2)
			{
				array[i][1] = parseInt($("#total_bag_2").val())
				array_push = true
			}
		}
		if (array_push == false)
		{
			array.push([2,parseInt($("#total_bag_2").val())])
		}
		for( var i = 0; i < array.length; i++)
		{
			total += array[i][0] * array[i][1]
		}
		$("#bag_array").val(JSON.stringify(array))
  	$("#item-quantity").val(total)
  	$("#total_bag_1").prop('disabled', false);
	});

	$("#total_bag_1").focusout(function(){
		var array_push = false
		var total = 0
		if ($("#total_bag_1").val() == "")
		{
			$("#total_bag_1").val(0);
		}
		for( var i = 0; i < array.length; i++)
		{
			if (array[i][0] == 1)
			{
				array[i][1] = parseInt($("#total_bag_1").val())
				array_push = true
			}
		}
		if (array_push == false)
		{
			array.push([1,parseInt($("#total_bag_1").val())])
		}
		for( var i = 0; i < array.length; i++)
		{
			total += array[i][0] * array[i][1]
		}
		$("#bag_array").val(JSON.stringify(array))
  	$("#item-quantity").val(total)
	});

	$("#item-price").focusout(function(){
		console.log(array)
	});

</script>