<div class="content-wrapper">
	<header>
		<div>
			<h1>Receive Money From <%= @bank.name %></h1>
		</div>
	</header>
	<div class="table-form-container">
		<%= form_with url: "/transactions/#{@bank.id}/received" do |f| %>
				<%= f.hidden_field :from_bank_view, value: true %>

			
				<label for="email">Select Seller to pay</label>
				<%= f.collection_select :seller_id, Seller.order(:name), :id, :name, include_blank: true %>
			
			<br>
			<label for="amount">Enter Amount</label>
			<%= f.number_field :amount, id: "amount_field" %>
			<label id="error-msg">This bank does not have enough balance</label>
		  <div class="centered">
			  <%= f.submit 'Pay', id:"submitButton"%>
			  <%= link_to "Cancel", banks_path, :class => "form-cancel-btn" %>
		  </div>
		<% end %>
	</div>
</div>
<style type="text/css">
	#error-msg{
		display: none;
		color: red;
	}
	.buttons {
		display: inline-block;
    border: 1px solid;
    padding: 6px 18px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #fff;
    margin-right: 20px;
	}
	#for_seller {
		display: none;
	}
	#for_bank_i {
		display: none;
	}
</style>
<script type="text/javascript">
	$("#amount_field").focusout(function(){
		if (parseInt($("#amount_field").val()) > parseInt("<%= @bank.current_balance %>")){
			$("#error-msg").show()
			$("#submitButton").prop('disabled', true)
		}
		else{
			$("#error-msg").hide()
			$("#submitButton").prop('disabled', false)
		}
	});
</script>