<aside>
  <div id="app-sidebar" class="sidebar">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <h5 class="centered">Admin</h5>
      <li class="sidebar-tab <%=is_active('inventory_items')%>">
      	<%= link_to root_path, :method=> "GET" do%>
          <i class="fa fa-dashboard"></i>
          Inventory
        <% end %>
      </li>
      <li class="sidebar-tab <%=is_active('sellers')%>">
      	<%= link_to sellers_path, :method=> "GET" do%>
          <i class="fa fa-users"></i>
          Sellers
        <% end %>
      </li>
      <li class="sidebar-tab">
        <%= link_to buyers_path do %>
         <i class="fa fa-users"></i>
          Buyers
        <% end %>
      </li>
      <li class="sidebar-tab <%=is_active('payments')%>">
        <%= link_to payments_path, :method=> "GET" do%>
          <i class="fa fa-credit-card"></i>
          Payments
        <% end %>
      </li>
      <li>
        <%= link_to banks_path, :method=> "GET" do%>
          <i class="fa fa-credit-card"></i>
          Bank
        <% end %>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>